<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free Restaurant Catalogue For You">
    <meta name="theme-color" content="#E1AA74"/>
    <link rel="manifest" href="./app.webmanifest">
    
    <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="icons/defaultprofile.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="icons/defaultprofile.png"
  />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
    <script
    src="https://kit.fontawesome.com/c8e4d183c2.js"
    crossorigin="anonymous"
  ></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    
    <title>MilkyWay Apps</title>
  </head>

  <body>
    <a tabindex="0" href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="menu">☰</button>
      </div>
      <div class="app-bar__brand">
        <img tabindex="0" src="../milkyway.png" alt="logo" class="logo" />
    </div>
    <nav id="drawer" class="app-bar__navigation">
      <ul class="nav__list">
        <li class="nav__item"><a href="#/home">Home</a></li>
        <li class="nav__item"><a href="#/like">Favorite</a></li>
        <li class="nav__item"><a href="hhttps://github.com/FathurrahmanAlHafid121140088">About Us</a></li>
      </ul>
    </nav>
    </header>

    <section id="jumbotron" tabindex="0" aria-label="jumbotron">
      <div
        class="jumbotron"
        style="background-image: url('../hero-image_2.jpg')"
      >
        <div class="jumbotron-overlay">
          <h1 class="jumbotron-title" tabindex="0">MilkyWay Apps</h1>
          <p class="jumbotron-subtitle" tabindex="0">
            Situs Rekomendasi Restaurant Terkemuka di Indonesia.
          </p>
        </div>
      </div>
    </section>
    
    <main id="maincontent"></main>

    <footer>
      <footer>
        <p>About Us</p>
  
        <!--paragraph-->
        <p>Contact me through the Social Media below:</p>
        <!--social-->
        <div class="social-icons">
          <a href="08877246401"><i class="fa fa-whatsapp"></i></a>
          <a href="https://www.instagram.com/fathurr.ra/"
            ><i class="fa fa-instagram"></i
          ></a>
          <a href="https://www.linkedin.com/in/fathurrahman-al-hafid-a21a7a246/"
            ><i class="fa fa-linkedin"></i
          ></a>
          <a
            href="https://mobile.facebook.com/fathur.rahman.99?eav=AfbnUJluA5KNpgxe8BdZQ-LFK5xBt5Sx2W-FFYvYczT8Lrx7qMxeRL8lmubGwOCPPV0&paipv=0"
            ><i class="fa fa-facebook"></i
          ></a>
        </div>
        <!--copyright-->
        <p class="copyright">Copyright 2024 by Fathurrahman Al Hafid</p>
      </footer>
    </footer>
  </body>
</html>
