
  @media screen and (max-width: 650px) {
    .jumbotron {
      height: 60vh;
      background-image: image-set(
        url(../public/images/heros/hero-image_2-large-small.jpg) 1x,
        url(../public/images/heros/hero-image_2-large-small.jpg) 2x
      );
    }

  }
  @media screen and (min-width: 650px) {
    .app-bar {
      grid-template-columns: 1fr auto;
      padding: 8px 32px;
    }
    .jumbotron-overlay {
      padding: 1rem 2rem;
    }
   
    .app-bar .app-bar__brand h1 {
      font-size: 1.5em;
    }
   
    .app-bar .app-bar__menu {
      display: none;
    }
   
    .app-bar .app-bar__navigation {
      position: static;
      width: 100%;
    }
   
    .app-bar .app-bar__navigation ul li {
      display: inline-block;
    }
   
    .app-bar .app-bar__navigation ul li a {
      display: inline-block;
      width: 120px;
      text-align: center;
      margin: 0;
    }

    .restaurants {
      grid-template-columns: 1fr 1fr;
    }
   
    .restaurant {
      grid-template-columns: auto 1fr;
    }
   
    .restaurant .restaurant__name {
      grid-column-start: 1;
      grid-column-end: 3;
    }
   
    .restaurant .restaurant__description {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  @media screen and (min-width: 650px) and (max-width: 1199px) {
    .jumbotron {
      height: 60vh;
      background-image: image-set(
        url(../public/images/heros/hero-image_2-large-medium.jpg) 1x,
        url(../public/images/heros/hero-image_2-large-medium.jpg) 2x
      );
    }
  }
  @media screen and (min-width: 800px) {
    .app-bar .app-bar__brand h1 {
      font-size: 2em;
    }
  }

  @media screen and (min-width: 850px) {
    .restaurants {
      grid-template-columns: repeat(3, 1fr);
    }
    .jumbotron-overlay {
      padding: 1rem 10rem;
    }
  }
   
  @media screen and (min-width: 1200px) {
    .restaurants {
      grid-template-columns: repeat(4, 1fr);
    }

    .jumbotron {
      height: 60vh;
      max-width: 1200px;
      margin: 0 auto;
      background-size: cover;
      background-position: center;
      background-image: image-set(
        url(../public/images/heros/hero-image_2-large.jpg) 1x,
        url(../public/images/heros/hero-image_2-large.jpg) 2x
      );
    }
    .jumbotron-overlay {
      padding: 1rem 0rem;
    }
  }
   
  @media screen and (min-width: 1600px) {
    .restaurants {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1200px;
        margin: 0 auto;
    }
    .jumbotron {
      height: 60vh;
      max-width: 1200px;
      margin: 0 auto;
      background-size: cover;
      background-position: center;
      background-image: image-set(
        url(../public/images/heros/hero-image_2.jpg) 1x,
        url(../public/images/heros/hero-image_2.jpg) 2x
      );
    }
  }